*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --primary: #98D8AA ;
    --secondary: #FFF2CC ;
    --alternative: #fbbe95 ;
    --bg: #d6e9f3;
}

body {
    display: flex;
    justify-content: center;
    background-color: var(--secondary);
}

.container {
    max-width: 400px;
    margin: 50px auto;
    text-align: center;
    padding: 3rem;
    background-color: var(--bg);
}

:is(.container, input, button){
    border: 1px solid;
    border-radius: 5px;
}

.input-box{
    display: flex;
    justify-content: space-around;
    align-items: center;
    justify-content: center;
}

input[type="text"] {
    width: 70%;
    padding: .6rem;
}

button {
    padding: .6rem .9rem;
    margin: 5px;
    background-color: var(--primary);
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background: var(--alternative);
    padding: 10px;
    margin: 5px;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

li.completed {
    text-decoration: line-through;
}

.close {
    position: absolute;
    right: 10px;
    cursor: pointer;
}


@media (width < 365px){
    .container{
        margin: 1rem;
    }

    .input-box{
        display: flex;
        flex-direction: column;

        & :is(button, input){
            width: 100%;
            margin: .5rem;
        }
    }
}